@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Lato');

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

body {
    background-color: rgba(0,0,0,0.9);
}

nav {
    height: 20vh;
    text-align: center;
    display: flex;
    // align-items: center;

    a {
        cursor: pointer;
        // padding: 7vh 18vw 7vh 18vw;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        font-family: 'Lato', sans-serif;
        font-size: 3vh;
        font-weight: bold;
        letter-spacing: 2px;
        text-decoration: none;

        color: white;
        background-color: rgba(0,0,0,0.3);

        &.active {
            background-color: rgba(0,0,0,0.0);
        }
    }
}

main {
    height: 80vh;
    overflow: hidden;

    .column {
        height: 80vh; /* percent relative to viewport height */
        width: 50%;
        float: left;
        overflow: scroll;
    }
}